In [ ]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

Task 1: Reading and Inspection

Subtask 1.1: Import and read

#Import and read the movie database. Store it in a variable called movies.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
movies = pd.read_csv('/content/Movie+Assignment+Data.csv')
         # Write your code for importing the csv file here
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [ ]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

##Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [ ]:
[movies.columns]

[Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
        'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
        'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
        'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
        'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
        'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
        'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
        'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
       dtype='object')]

In [ ]:
[movies.shape]

[(5043, 28)]

In [ ]:
[movies.info]

[<bound method DataFrame.info of       color      director_name  num_critic_for_reviews  duration  \
 0     Color      James Cameron                   723.0     178.0
 1     Color     Gore Verbinski                   302.0     169.0
 2     Color         Sam Mendes                   602.0     148.0
 3     Color  Christopher Nolan                   813.0     164.0
 4       NaN        Doug Walker                     NaN       NaN
 ...     ...                ...                     ...       ...
 5038  Color        Scott Smith                     1.0      87.0
 5039  Color                NaN                    43.0      43.0
 5040  Color   Benjamin Roberds                    13.0      76.0
 5041  Color        Daniel Hsia                    14.0     100.0
 5042  Color           Jon Gunn                    43.0      90.0

       director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
 0                         0.0                   855.0  Joel David Moore
 1                       563.0                  1000.0     Orlando Bloom
 2                         0.0                   161.0      Rory Kinnear
 3                     22000.0                 23000.0    Christian Bale
 4                       131.0                     NaN        Rob Walker
 ...                       ...                     ...               ...
 5038                      2.0                   318.0     Daphne Zuniga
 5039                      NaN                   319.0     Valorie Curry
 5040                      0.0                     0.0     Maxwell Moody
 5041                      0.0                   489.0     Daniel Henney
 5042                     16.0                    16.0  Brian Herzlinger

       actor_1_facebook_likes        gross                           genres  \
 0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
 1                    40000.0  309404152.0         Action|Adventure|Fantasy
 2                    11000.0  200074175.0        Action|Adventure|Thriller
 3                    27000.0  448130642.0                  Action|Thriller
 4                      131.0          NaN                      Documentary
 ...                      ...          ...                              ...
 5038                   637.0          NaN                     Comedy|Drama
 5039                   841.0          NaN     Crime|Drama|Mystery|Thriller
 5040                     0.0          NaN            Drama|Horror|Thriller
 5041                   946.0      10443.0             Comedy|Drama|Romance
 5042                    86.0      85222.0                      Documentary

       ... num_user_for_reviews language  country  content_rating       budget  \
 0     ...               3054.0  English      USA           PG-13  237000000.0
 1     ...               1238.0  English      USA           PG-13  300000000.0
 2     ...                994.0  English       UK           PG-13  245000000.0
 3     ...               2701.0  English      USA           PG-13  250000000.0
 4     ...                  NaN      NaN      NaN             NaN          NaN
 ...   ...                  ...      ...      ...             ...          ...
 5038  ...                  6.0  English   Canada             NaN          NaN
 5039  ...                359.0  English      USA           TV-14          NaN
 5040  ...                  3.0  English      USA             NaN       1400.0
 5041  ...                  9.0  English      USA           PG-13          NaN
 5042  ...                 84.0  English      USA              PG       1100.0

       title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
 0         2009.0                  936.0        7.9          1.78
 1         2007.0                 5000.0        7.1          2.35
 2         2015.0                  393.0        6.8          2.35
 3         2012.0                23000.0        8.5          2.35
 4            NaN                   12.0        7.1           NaN
 ...          ...                    ...        ...           ...
 5038      2013.0                  470.0        7.7           NaN
 5039         NaN                  593.0        7.5         16.00
 5040      2013.0                    0.0        6.3           NaN
 5041      2012.0                  719.0        6.3          2.35
 5042      2004.0                   23.0        6.6          1.85

      movie_facebook_likes
 0                   33000
 1                       0
 2                   85000
 3                  164000
 4                       0
 ...                   ...
 5038                   84
 5039                32000
 5040                   16
 5041                  660
 5042                  456

 [5043 rows x 28 columns]>]

##Task 2: Cleaning the Data

##Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [ ]:
movies = pd.read_csv('/content/Movie+Assignment+Data.csv')
movies.isnull().sum ()# Write your code for column-wise null count here

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [ ]:
[movies.isnull().sum (axis = 1)]# Write your code for row-wise null count here

# The (axis) parameter within the sum() function is used to change the direction
# of columns to rows.

[0        0
 1        0
 2        0
 3        0
 4       14
         ..
 5038     4
 5039     5
 5040     4
 5041     2
 5042     0
 Length: 5043, dtype: int64]

In [ ]:
import pandas as pd
movies = pd.read_csv('/content/Movie+Assignment+Data.csv')# Data loading
null_percentages = movies.isnull().mean() * 100
# Write your code for column-wise null percentages
print(null_percentages.round(2))

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.28
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

##Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.


color

director_facebook_likes

actor_1_facebook_likes

actor_2_facebook_likes

actor_3_facebook_likes

actor_2_name

cast_total_facebook_likes

actor_3_name

duration

facenumber_in_poster

content_rating

country

movie_imdb_link

aspect_ratio0

plot_keywords

In [ ]:
import pandas as pd
movies = pd.read_csv('//content/Movie+Assignment+Data.csv')
# Check if 'aspect_ratio0' is present in the column names, likely it is aspect_ratio
if 'aspect_ratio0' not in movies.columns:
    # If not present, replace with correct column name 'aspect_ratio'
    movies_dropped_columns = movies.drop(columns=['color', 'director_facebook_likes', 'actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
                                                 'cast_total_facebook_likes', 'actor_3_name', 'duration', 'facenumber_in_poster', 'content_rating', 'country',
                                                 'movie_imdb_link', 'aspect_ratio', 'plot_keywords'])
else:
    # If it is present then proceed with original code:
    movies_dropped_columns = movies.drop(columns=['color', 'director_facebook_likes', 'actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
                                                 'cast_total_facebook_likes', 'actor_3_name', 'duration', 'facenumber_in_poster', 'content_rating', 'country',
                                                 'movie_imdb_link', 'aspect_ratio0', 'plot_keywords'])
# Write your code for dropping the columns here.

##Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [ ]:
import pandas as pd

movies = pd.read_csv('/content/Movie+Assignment+Data.csv')

# Calculate the percentage of null values in each column
null_percentages = movies.isnull().sum() / len(movies) * 100

# Identify columns with more than 5% null values
columns_to_drop_rows = null_percentages[null_percentages > 5].index

# Drop rows with null values in the identified columns
movies_cleaned = movies.dropna(subset=columns_to_drop_rows)

# Display the new shape of the DataFrame
print(movies_cleaned.shape)

(3784, 28)

##Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv("Movie+Assignment+Data.csv")

null_percentage =movies.isnull().mean()*100
print(null_percentage)

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.277613
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

In [ ]:
columns_with_high_nulls = null_percentage[null_percentage > 5].index
columns_with_high_nulls

Index(['gross', 'content_rating', 'budget', 'aspect_ratio'], dtype='object')

In [ ]:
movies_dropped_unnecessary_rows = movies.dropna(subset=columns_with_high_nulls)

print(movies_dropped_unnecessary_rows)
print(movies_dropped_unnecessary_rows.shape)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
1     Color     Gore Verbinski                   302.0     169.0
2     Color         Sam Mendes                   602.0     148.0
3     Color  Christopher Nolan                   813.0     164.0
5     Color     Andrew Stanton                   462.0     132.0
...     ...                ...                     ...       ...
5026  Color    Olivier Assayas                    81.0     110.0
5027  Color       Jafar Panahi                    64.0      90.0
5033  Color      Shane Carruth                   143.0      77.0
5035  Color   Robert Rodriguez                    56.0      81.0
5042  Color           Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
1                       563.0                  1000.0      Orlando Bloom
2                         0.0                   161.0       Rory Kinnear
3                     22000.0                 23000.0     Christian Bale
5                       475.0                   530.0    Samantha Morton
...                       ...                     ...                ...
5026                    107.0                    45.0     Béatrice Dalle
5027                    397.0                     0.0  Nargess Mamizadeh
5033                    291.0                     8.0     David Sullivan
5035                      0.0                     6.0    Peter Marquardt
5042                     16.0                    16.0   Brian Herzlinger

      actor_1_facebook_likes        gross  \
0                     1000.0  760505847.0
1                    40000.0  309404152.0
2                    11000.0  200074175.0
3                    27000.0  448130642.0
5                      640.0   73058679.0
...                      ...          ...
5026                   576.0     136007.0
5027                     5.0     673780.0
5033                   291.0     424760.0
5035                   121.0    2040920.0
5042                    86.0      85222.0

                                   genres  ... num_user_for_reviews language  \
0         Action|Adventure|Fantasy|Sci-Fi  ...               3054.0  English
1                Action|Adventure|Fantasy  ...               1238.0  English
2               Action|Adventure|Thriller  ...                994.0  English
3                         Action|Thriller  ...               2701.0  English
5                 Action|Adventure|Sci-Fi  ...                738.0  English
...                                   ...  ...                  ...      ...
5026                  Drama|Music|Romance  ...                 39.0   French
5027                                Drama  ...                 26.0  Persian
5033                Drama|Sci-Fi|Thriller  ...                371.0  English
5035  Action|Crime|Drama|Romance|Thriller  ...                130.0  Spanish
5042                          Documentary  ...                 84.0  English

      country  content_rating       budget  title_year actor_2_facebook_likes  \
0         USA           PG-13  237000000.0      2009.0                  936.0
1         USA           PG-13  300000000.0      2007.0                 5000.0
2          UK           PG-13  245000000.0      2015.0                  393.0
3         USA           PG-13  250000000.0      2012.0                23000.0
5         USA           PG-13  263700000.0      2012.0                  632.0
...       ...             ...          ...         ...                    ...
5026   France               R       4500.0      2004.0                  133.0
5027     Iran       Not Rated      10000.0      2000.0                    0.0
5033      USA           PG-13       7000.0      2004.0                   45.0
5035      USA               R       7000.0      1992.0                   20.0
5042      USA              PG       1100.0      2004.0                   23.0

     imdb_score  aspect_ratio movie_facebook_likes
0           7.9          1.78                33000
1           7.1          2.35                    0
2           6.8          2.35                85000
3           8.5          2.35               164000
5           6.6          2.35                24000
...         ...           ...                  ...
5026        6.9          2.35                  171
5027        7.5          1.85                  697
5033        7.0          1.85                19000
5035        6.9          1.37                    0
5042        6.6          1.85                  456

[3784 rows x 28 columns]
(3784, 28)

##Subtask 2.5: Fill NaN values


### "You might notice that the language column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with 'English'.
---

In [ ]:
df_cleaned.loc[:, 'language'] = df_cleaned['language'].fillna('English')
 #Write your code for filling the NaN values in the 'language' column here

Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. num_critic_for_reviews and actor_1_name have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [ ]:
# Get the number of rows retained
num_rows_retained = df_cleaned.shape[0]

# Calculate the percentage of rows retained
percentage_retained = (num_rows_retained / df.shape[0]) * 100

# Display the results
print(f"Number of rows retained: {num_rows_retained}")
print(f"Percentage of rows retained: {percentage_retained:.2f}%")

Number of rows retained: 4969
Percentage of rows retained: 98.53%

Checkpoint 1: You might have noticed that we still have around 77% of the rows."

After Dropping unecessary rows using columns with high Null percentages we got **(3784 Rows and 28 columns)**


Total No. of Rows were **(5043)**
 Hence this accounted up to **75.03%**

**less than 77%**

##Task 3: Data Analysis

##Subtask 3.1: Change the unit of columns


Convert the unit of the budget and gross columns from    $  to   milllion  dollar.

In [ ]:
budget_million = movies['budget']/1000000 # Write your code for unit conversion here
                                     # Access the 'budget' column from the 'movies' DataFrame.
print(budget_million)

0       237.0000
1       300.0000
2       245.0000
3       250.0000
4            NaN
          ...
5038         NaN
5039         NaN
5040      0.0014
5041         NaN
5042      0.0011
Name: budget, Length: 5043, dtype: float64

##Subtask 3.2: Find the movies with highest profit

1: Create a new column called profit which contains the difference of the two columns: gross and budget.

2: Sort the dataframe using the profit column as reference.

3: Extract the top ten profiting movies in descending order and store them in a new dataframe - top10"

In [ ]:
movies_cleaned['profit'] = movies_cleaned['gross'] - movies_cleaned['budget']
# Write your code for creating the profit column here

#Explaination
# We created a new column 'profit' by subtracting the'budget' column from the
# 'gross' column.
# profit=gross−budget
print(movies_cleaned['profit'])

0       523505847.0
1         9404152.0
2       -44925825.0
3       198130642.0
5      -190641321.0
           ...
5026       131507.0
5027       663780.0
5033       417760.0
5035      2033920.0
5042        84122.0
Name: profit, Length: 3784, dtype: float64

In [ ]:
# 2: Sort the DataFrame in descending order based on the 'profit' column
movies_sorted = movies_cleaned.sort_values(by='profit', ascending= False)
# Write your code for sorting the dataframe here


# Display the first few rows to verify sorting
print(movies_sorted.head())

      color     director_name  num_critic_for_reviews  duration  \
0     Color     James Cameron                   723.0     178.0
29    Color   Colin Trevorrow                   644.0     124.0
26    Color     James Cameron                   315.0     194.0
3024  Color      George Lucas                   282.0     125.0
3080  Color  Steven Spielberg                   215.0     120.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
29                      365.0                  1000.0        Judy Greer
26                        0.0                   794.0      Kate Winslet
3024                      0.0                   504.0     Peter Cushing
3080                  14000.0                   548.0       Dee Wallace

      actor_1_facebook_likes        gross                            genres  \
0                     1000.0  760505847.0   Action|Adventure|Fantasy|Sci-Fi
29                    3000.0  652177271.0  Action|Adventure|Sci-Fi|Thriller
26                   29000.0  658672302.0                     Drama|Romance
3024                 11000.0  460935665.0   Action|Adventure|Fantasy|Sci-Fi
3080                   861.0  434949459.0                     Family|Sci-Fi

      ... language country  content_rating       budget title_year  \
0     ...  English     USA           PG-13  237000000.0     2009.0
29    ...  English     USA           PG-13  150000000.0     2015.0
26    ...  English     USA           PG-13  200000000.0     1997.0
3024  ...  English     USA              PG   11000000.0     1977.0
3080  ...  English     USA              PG   10500000.0     1982.0

      actor_2_facebook_likes imdb_score aspect_ratio  movie_facebook_likes  \
0                      936.0        7.9         1.78                 33000
29                    2000.0        7.0         2.00                150000
26                   14000.0        7.7         2.35                 26000
3024                  1000.0        8.7         2.35                 33000
3080                   725.0        7.9         1.85                 34000

           profit
0     523505847.0
29    502177271.0
26    458672302.0
3024  449935665.0
3080  424449459.0

[5 rows x 29 columns]

In [ ]:
[] #3:  Write your code to get the top 10 profiting movies here
top_10_profiting_movies = movies_cleaned.sort_values(by='profit', ascending=False).head(10)
print(top_10_profiting_movies)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
29    Color    Colin Trevorrow                   644.0     124.0
26    Color      James Cameron                   315.0     194.0
3024  Color       George Lucas                   282.0     125.0
3080  Color   Steven Spielberg                   215.0     120.0
794   Color        Joss Whedon                   703.0     173.0
17    Color        Joss Whedon                   703.0     173.0
509   Color       Roger Allers                   186.0      73.0
240   Color       George Lucas                   320.0     136.0
66    Color  Christopher Nolan                   645.0     152.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
29                      365.0                  1000.0         Judy Greer
26                        0.0                   794.0       Kate Winslet
3024                      0.0                   504.0      Peter Cushing
3080                  14000.0                   548.0        Dee Wallace
794                       0.0                 19000.0  Robert Downey Jr.
17                        0.0                 19000.0  Robert Downey Jr.
509                      28.0                   847.0        Nathan Lane
240                       0.0                  1000.0        Liam Neeson
66                    22000.0                 11000.0       Heath Ledger

      actor_1_facebook_likes        gross  \
0                     1000.0  760505847.0
29                    3000.0  652177271.0
26                   29000.0  658672302.0
3024                 11000.0  460935665.0
3080                   861.0  434949459.0
794                  26000.0  623279547.0
17                   26000.0  623279547.0
509                   2000.0  422783777.0
240                  20000.0  474544677.0
66                   23000.0  533316061.0

                                        genres  ... language country  \
0              Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
29            Action|Adventure|Sci-Fi|Thriller  ...  English     USA
26                               Drama|Romance  ...  English     USA
3024           Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
3080                             Family|Sci-Fi  ...  English     USA
794                    Action|Adventure|Sci-Fi  ...  English     USA
17                     Action|Adventure|Sci-Fi  ...  English     USA
509   Adventure|Animation|Drama|Family|Musical  ...  English     USA
240            Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
66                 Action|Crime|Drama|Thriller  ...  English     USA

      content_rating       budget title_year  actor_2_facebook_likes  \
0              PG-13  237000000.0     2009.0                   936.0
29             PG-13  150000000.0     2015.0                  2000.0
26             PG-13  200000000.0     1997.0                 14000.0
3024              PG   11000000.0     1977.0                  1000.0
3080              PG   10500000.0     1982.0                   725.0
794            PG-13  220000000.0     2012.0                 21000.0
17             PG-13  220000000.0     2012.0                 21000.0
509                G   45000000.0     1994.0                   886.0
240               PG  115000000.0     1999.0                 14000.0
66             PG-13  185000000.0     2008.0                 13000.0

     imdb_score aspect_ratio  movie_facebook_likes       profit
0           7.9         1.78                 33000  523505847.0
29          7.0         2.00                150000  502177271.0
26          7.7         2.35                 26000  458672302.0
3024        8.7         2.35                 33000  449935665.0
3080        7.9         1.85                 34000  424449459.0
794         8.1         1.85                123000  403279547.0
17          8.1         1.85                123000  403279547.0
509         8.5         1.66                 17000  377783777.0
240         6.5         2.35                 13000  359544677.0
66          9.0         2.35                 37000  348316061.0

[10 rows x 29 columns]

##Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat Subtask 3.2.

In [ ]:
[] # Remove duplicate rows from the dataset
df_cleaned_deduplicated = df_cleaned.drop_duplicates()

# Store the initial number of rows
initial_rows = df_cleaned.shape[0]  # Get the initial number of rows from df_cleaned

# Number of rows retained after removing duplicates
final_retained_rows = df_cleaned_deduplicated.shape[0]
final_retained_percentage = (final_retained_rows / initial_rows) * 100

# Display results
print(f"Rows retained after removing duplicates: {final_retained_rows}")
print(f"Percentage of rows retained: {final_retained_percentage:.2f}%")# Write your code for dropping duplicate values here

Rows retained after removing duplicates: 4924
Percentage of rows retained: 99.09%

# Write code for repeating subtask 2 here\n"

1:Create a new column called profit which contains the difference of the two columns: gross and budget.

2: Sort the dataframe using the profit column as reference.

3: Extract the top ten profiting movies in descending order and store them in a new dataframe - top10"

In [95]:
#1: Create a new column called profit which contains the difference of the two columns: gross and budget.
# Assuming your DataFrame is called 'movies_cleaned_deduplicated'

# We have ensure df_cleaned_deduplicated is defined (from the previous cell)
df_cleaned_deduplicated = df_cleaned.drop_duplicates().copy()  # Create an explicit copy using .copy()

# We have used .loc for assignment to avoid SettingWithCopyWarning
df_cleaned_deduplicated.loc[:, 'profit'] = df_cleaned_deduplicated['gross'] - df_cleaned_deduplicated['budget']# Write your code for dropping duplicate values here
print(df_cleaned_deduplicated.loc[:, 'profit'])

0       523505847.0
1         9404152.0
2       -44925825.0
3       198130642.0
5      -190641321.0
           ...
5038            NaN
5039            NaN
5040            NaN
5041            NaN
5042        84122.0
Name: profit, Length: 4924, dtype: float64

In [96]:
#2: Sort the dataframe using the profit column as reference.

# Sort the DataFrame in descending order based on the 'profit' column
df_cleaned_deduplicated = df_cleaned_deduplicated.sort_values(by='profit', ascending=False)
print(df_cleaned_deduplicated)

      color     director_name  num_critic_for_reviews  duration  \
0     Color     James Cameron                   723.0     178.0
29    Color   Colin Trevorrow                   644.0     124.0
26    Color     James Cameron                   315.0     194.0
3024  Color      George Lucas                   282.0     125.0
3080  Color  Steven Spielberg                   215.0     120.0
...     ...               ...                     ...       ...
5036  Color   Anthony Vallone                     NaN      84.0
5038  Color       Scott Smith                     1.0      87.0
5039  Color               NaN                    43.0      43.0
5040  Color  Benjamin Roberds                    13.0      76.0
5041  Color       Daniel Hsia                    14.0     100.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
29                      365.0                  1000.0        Judy Greer
26                        0.0                   794.0      Kate Winslet
3024                      0.0                   504.0     Peter Cushing
3080                  14000.0                   548.0       Dee Wallace
...                       ...                     ...               ...
5036                      2.0                     2.0    John Considine
5038                      2.0                   318.0     Daphne Zuniga
5039                      NaN                   319.0     Valorie Curry
5040                      0.0                     0.0     Maxwell Moody
5041                      0.0                   489.0     Daniel Henney

      actor_1_facebook_likes        gross                            genres  \
0                     1000.0  760505847.0   Action|Adventure|Fantasy|Sci-Fi
29                    3000.0  652177271.0  Action|Adventure|Sci-Fi|Thriller
26                   29000.0  658672302.0                     Drama|Romance
3024                 11000.0  460935665.0   Action|Adventure|Fantasy|Sci-Fi
3080                   861.0  434949459.0                     Family|Sci-Fi
...                      ...          ...                               ...
5036                    45.0          NaN                       Crime|Drama
5038                   637.0          NaN                      Comedy|Drama
5039                   841.0          NaN      Crime|Drama|Mystery|Thriller
5040                     0.0          NaN             Drama|Horror|Thriller
5041                   946.0      10443.0              Comedy|Drama|Romance

      ... language country  content_rating       budget title_year  \
0     ...  English     USA           PG-13  237000000.0     2009.0
29    ...  English     USA           PG-13  150000000.0     2015.0
26    ...  English     USA           PG-13  200000000.0     1997.0
3024  ...  English     USA              PG   11000000.0     1977.0
3080  ...  English     USA              PG   10500000.0     1982.0
...   ...      ...     ...             ...          ...        ...
5036  ...  English     USA           PG-13       3250.0     2005.0
5038  ...  English  Canada             NaN          NaN     2013.0
5039  ...  English     USA           TV-14          NaN        NaN
5040  ...  English     USA             NaN       1400.0     2013.0
5041  ...  English     USA           PG-13          NaN     2012.0

      actor_2_facebook_likes imdb_score aspect_ratio  movie_facebook_likes  \
0                      936.0        7.9         1.78                 33000
29                    2000.0        7.0         2.00                150000
26                   14000.0        7.7         2.35                 26000
3024                  1000.0        8.7         2.35                 33000
3080                   725.0        7.9         1.85                 34000
...                      ...        ...          ...                   ...
5036                    44.0        7.8          NaN                     4
5038                   470.0        7.7          NaN                    84
5039                   593.0        7.5        16.00                 32000
5040                     0.0        6.3          NaN                    16
5041                   719.0        6.3         2.35                   660

           profit
0     523505847.0
29    502177271.0
26    458672302.0
3024  449935665.0
3080  424449459.0
...           ...
5036          NaN
5038          NaN
5039          NaN
5040          NaN
5041          NaN

[4924 rows x 29 columns]

In [97]:
#3:Extract the top ten profiting movies in descending order and store them in a new dataframe - top10"

# Extract the top 10 profiting movies
top10_cleaned_deduplicated= df_cleaned_deduplicated.head(10)
print(top10_cleaned_deduplicated)

      color      director_name  num_critic_for_reviews  duration  \
0     Color      James Cameron                   723.0     178.0
29    Color    Colin Trevorrow                   644.0     124.0
26    Color      James Cameron                   315.0     194.0
3024  Color       George Lucas                   282.0     125.0
3080  Color   Steven Spielberg                   215.0     120.0
17    Color        Joss Whedon                   703.0     173.0
509   Color       Roger Allers                   186.0      73.0
240   Color       George Lucas                   320.0     136.0
66    Color  Christopher Nolan                   645.0     152.0
439   Color          Gary Ross                   673.0     142.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                         0.0                   855.0   Joel David Moore
29                      365.0                  1000.0         Judy Greer
26                        0.0                   794.0       Kate Winslet
3024                      0.0                   504.0      Peter Cushing
3080                  14000.0                   548.0        Dee Wallace
17                        0.0                 19000.0  Robert Downey Jr.
509                      28.0                   847.0        Nathan Lane
240                       0.0                  1000.0        Liam Neeson
66                    22000.0                 11000.0       Heath Ledger
439                     378.0                   575.0    Josh Hutcherson

      actor_1_facebook_likes        gross  \
0                     1000.0  760505847.0
29                    3000.0  652177271.0
26                   29000.0  658672302.0
3024                 11000.0  460935665.0
3080                   861.0  434949459.0
17                   26000.0  623279547.0
509                   2000.0  422783777.0
240                  20000.0  474544677.0
66                   23000.0  533316061.0
439                  34000.0  407999255.0

                                        genres  ... language country  \
0              Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
29            Action|Adventure|Sci-Fi|Thriller  ...  English     USA
26                               Drama|Romance  ...  English     USA
3024           Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
3080                             Family|Sci-Fi  ...  English     USA
17                     Action|Adventure|Sci-Fi  ...  English     USA
509   Adventure|Animation|Drama|Family|Musical  ...  English     USA
240            Action|Adventure|Fantasy|Sci-Fi  ...  English     USA
66                 Action|Crime|Drama|Thriller  ...  English     USA
439            Adventure|Drama|Sci-Fi|Thriller  ...  English     USA

      content_rating       budget title_year  actor_2_facebook_likes  \
0              PG-13  237000000.0     2009.0                   936.0
29             PG-13  150000000.0     2015.0                  2000.0
26             PG-13  200000000.0     1997.0                 14000.0
3024              PG   11000000.0     1977.0                  1000.0
3080              PG   10500000.0     1982.0                   725.0
17             PG-13  220000000.0     2012.0                 21000.0
509                G   45000000.0     1994.0                   886.0
240               PG  115000000.0     1999.0                 14000.0
66             PG-13  185000000.0     2008.0                 13000.0
439            PG-13   78000000.0     2012.0                 14000.0

     imdb_score aspect_ratio  movie_facebook_likes       profit
0           7.9         1.78                 33000  523505847.0
29          7.0         2.00                150000  502177271.0
26          7.7         2.35                 26000  458672302.0
3024        8.7         2.35                 33000  449935665.0
3080        7.9         1.85                 34000  424449459.0
17          8.1         1.85                123000  403279547.0
509         8.5         1.66                 17000  377783777.0
240         6.5         2.35                 13000  359544677.0
66          9.0         2.35                 37000  348316061.0
439         7.3         2.35                140000  329999255.0

[10 rows x 29 columns]

Checkpoint 2: You might spot two movies directed by James Cameron in the list.

Answer :Yes there are two movies directed by James Cameron.
  0 =  Action|Adventure|Fantasy|
        Sci-Fi

 26 = Drama|Romance

##Subtask 3.4: Find IMDb Top 250

1: Create a new dataframe IMDb_Top_250 and store the top 250 movies with the highest IMDb Rating (corresponding to the column: imdb_score). Also make sure that for all of these movies, the num_voted_users is greater than 25,000. Also add a Rank column containing the values 1 to 250 indicating the ranks of the corresponding films.

2:. Extract all the movies in the IMDb_Top_250 dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film

In [98]:
#1: Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe
# and name that dataframe as 'IMDb_Top_250'
top_250_movies = movies_cleaned.sort_values(by='imdb_score', ascending=False).head(250) #Fixed the indentation and applied .head(250) properly
top_250_movies = top_250_movies[top_250_movies['num_voted_users'] > 25000]
top_250_movies['Rank'] = range(1,len(top_250_movies) +1)
IMDb_Top_250 = top_250_movies
print(IMDb_Top_250)

                 color         director_name  num_critic_for_reviews  \
1937             Color        Frank Darabont                   199.0
3466             Color  Francis Ford Coppola                   208.0
66               Color     Christopher Nolan                   645.0
2837             Color  Francis Ford Coppola                   149.0
339              Color         Peter Jackson                   328.0
...                ...                   ...                     ...
2619             Color        John Carpenter                   318.0
2493   Black and White           Yimou Zhang                   283.0
2492             Color        John Carpenter                   318.0
353              Color         John Lasseter                   191.0
1807             Color           John Landis                   125.0

      duration  director_facebook_likes  actor_3_facebook_likes  \
1937     142.0                      0.0                   461.0
3466     175.0                      0.0                  3000.0
66       152.0                  22000.0                 11000.0
2837     220.0                      0.0                  3000.0
339      192.0                      0.0                   416.0
...        ...                      ...                     ...
2619     101.0                      0.0                   598.0
2493      80.0                    611.0                   576.0
2492     101.0                      0.0                   598.0
353       82.0                    487.0                   967.0
1807     148.0                    644.0                   326.0

             actor_2_name  actor_1_facebook_likes        gross  \
1937       Jeffrey DeMunn                 11000.0   28341469.0
3466        Marlon Brando                 14000.0  134821952.0
66           Heath Ledger                 23000.0  533316061.0
2837            Al Pacino                 22000.0   57300000.0
339            Billy Boyd                  5000.0  377019252.0
...                   ...                     ...          ...
2619     Donald Pleasence                  2000.0   47000000.0
2493  Tony Chiu Wai Leung                  5000.0      84961.0
2492     Donald Pleasence                  2000.0   47000000.0
353     John Ratzenberger                 15000.0  245823397.0
1807      Aretha Franklin                  1000.0   54200000.0

                                         genres  ...       budget title_year  \
1937                                Crime|Drama  ...   25000000.0     1994.0
3466                                Crime|Drama  ...    6000000.0     1972.0
66                  Action|Crime|Drama|Thriller  ...  185000000.0     2008.0
2837                                Crime|Drama  ...   13000000.0     1974.0
339              Action|Adventure|Drama|Fantasy  ...   94000000.0     2003.0
...                                         ...  ...          ...        ...
2619                            Horror|Thriller  ...     300000.0     1978.0
2493                   Action|Adventure|History  ...   31000000.0     2002.0
2492                            Horror|Thriller  ...     300000.0     1978.0
353   Adventure|Animation|Comedy|Family|Fantasy  ...   90000000.0     1999.0
1807                  Action|Comedy|Crime|Music  ...   27000000.0     1980.0

      actor_2_facebook_likes  imdb_score aspect_ratio  movie_facebook_likes  \
1937                   745.0         9.3         1.85                108000
3466                 10000.0         9.2         1.85                 43000
66                   13000.0         9.0         2.35                 37000
2837                 14000.0         9.0         1.85                 14000
339                    857.0         8.9         2.35                 16000
...                      ...         ...          ...                   ...
2619                   742.0         7.9         2.35                 12000
2493                   643.0         7.9         2.35                     0
2492                   742.0         7.9         2.35                 12000
353                   1000.0         7.9         1.85                     0
1807                   809.0         7.9         1.85                 14000

           profit    genre_1                          genre_2 Rank
1937    3341469.0      Crime                            Drama    1
3466  128821952.0      Crime                            Drama    2
66    348316061.0     Action             Crime|Drama|Thriller    3
2837   44300000.0      Crime                            Drama    4
339   283019252.0     Action          Adventure|Drama|Fantasy    5
...           ...        ...                              ...  ...
2619   46700000.0     Horror                         Thriller  239
2493  -30915039.0     Action                Adventure|History  240
2492   46700000.0     Horror                         Thriller  241
353   155823397.0  Adventure  Animation|Comedy|Family|Fantasy  242
1807   27200000.0     Action               Comedy|Crime|Music  243

[243 rows x 32 columns]

In [99]:
#2: Top_Foreign_Lang_Film = # Write your code to extract top foreign language films from 'IMDb_Top_250' here
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250['language'] != 'English']
print(Top_Foreign_Lang_Film)

                 color                     director_name  \
4498             Color                      Sergio Leone
4747   Black and White                    Akira Kurosawa
4029             Color                Fernando Meirelles
2373             Color                    Hayao Miyazaki
4921             Color                      Majid Majidi
4259             Color  Florian Henckel von Donnersmarck
4659             Color                    Asghar Farhadi
2323             Color                    Hayao Miyazaki
2970             Color                 Wolfgang Petersen
4105             Color                    Chan-wook Park
1298   Black and White                Jean-Pierre Jeunet
4033             Color                 Thomas Vinterberg
2829             Color               Oliver Hirschbiegel
2734   Black and White                        Fritz Lang
3550             Color                  Denis Villeneuve
2551             Color                Guillermo del Toro
4000             Color              Juan José Campanella
2047             Color                    Hayao Miyazaki
2830             Color                Alejandro Amenábar
4267             Color             Alejandro G. Iñárritu
2914             Color                       Je-kyu Kang
3423             Color                   Katsuhiro Ôtomo
3553             Color                      José Padilha
4461             Color                 Thomas Vinterberg
3456             Color                 Vincent Paronnaud
3344             Color                       Karan Johar
4897             Color                      Sergio Leone
4144             Color                     Walter Salles
4284             Color                        Ari Folman
3677             Color              Christophe Barratier
1171   Black and White                       Yimou Zhang
2863             Color                    Clint Eastwood
2605             Color                           Ang Lee
2493   Black and White                       Yimou Zhang

      num_critic_for_reviews  duration  director_facebook_likes  \
4498                   181.0     142.0                      0.0
4747                   153.0     202.0                      0.0
4029                   214.0     135.0                    353.0
2373                   246.0     125.0                   6000.0
4921                    46.0      89.0                    373.0
4259                   215.0     137.0                    207.0
4659                   354.0     123.0                      0.0
2323                   174.0     134.0                   6000.0
2970                    96.0     293.0                    249.0
4105                   305.0     120.0                      0.0
1298                   242.0     122.0                      0.0
4033                   349.0     115.0                    346.0
2829                   192.0     178.0                    101.0
2734                   260.0     145.0                    756.0
3550                   226.0     139.0                    777.0
2551                   406.0     112.0                      0.0
4000                   262.0     129.0                    195.0
2047                   212.0     119.0                   6000.0
2830                   157.0     125.0                    448.0
4267                   157.0     115.0                      0.0
2914                    86.0     148.0                     16.0
3423                   150.0     124.0                     78.0
3553                   142.0     115.0                    294.0
4461                    98.0     105.0                    346.0
3456                   242.0      89.0                     10.0
3344                   210.0     128.0                    160.0
4897                   122.0      99.0                      0.0
4144                    71.0     113.0                    179.0
4284                   231.0      90.0                     56.0
3677                   112.0      97.0                     25.0
1171                   283.0      80.0                    611.0
2863                   251.0     141.0                  16000.0
2605                   287.0     120.0                      0.0
2493                   283.0      80.0                    611.0

      actor_3_facebook_likes               actor_2_name  \
4498                    24.0             Luigi Pistilli
4747                     4.0              Minoru Chiaki
4029                    40.0                  Seu Jorge
2373                     7.0           Ryûnosuke Kamiki
4921                    27.0     Amir Farrokh Hashemian
4259                   155.0                Ulrich Mühe
4659                   620.0               Leila Hatami
2323                   745.0         Jada Pinkett Smith
2970                    18.0         Martin Semmelrogge
4105                    38.0                  Ji-tae Yu
1298                    54.0             Jamel Debbouze
4033                    26.0         Alexandra Rapaport
2829                   471.0                 Bruno Ganz
2734                    18.0            Gustav Fröhlich
3550                    58.0  Mélissa Désormeaux-Poulin
2551                   250.0              Maribel Verdú
4000                    50.0           Soledad Villamil
2047                   422.0              Blythe Danner
2830                    93.0                Lola Dueñas
4267                    35.0              Jorge Salinas
2914                   489.0                    Bin Won
3423                     4.0              Takeshi Kusao
3553                    15.0           Fernanda Machado
4461                   141.0              Paprika Steen
3456                   106.0              Gena Rowlands
3344                    81.0             Jimmy Shergill
4897                    93.0         Gian Maria Volontè
4144                    11.0       Matheus Nachtergaele
4284                     0.0                Ronny Dayag
3677                    57.0          François Berléand
1171                   576.0        Tony Chiu Wai Leung
2863                    78.0          Kazunari Ninomiya
2605                     5.0              Pei-Pei Cheng
2493                   576.0        Tony Chiu Wai Leung

      actor_1_facebook_likes        gross  \
4498                 16000.0    6100000.0
4747                   304.0     269061.0
4029                  1000.0    7563397.0
2373                    17.0   10049886.0
4921                    36.0     925402.0
4259                   380.0   11284657.0
4659                   786.0    7098492.0
2323                   893.0    2298191.0
2970                   362.0   11433134.0
4105                   717.0    2181290.0
1298                   326.0   33201661.0
4033                    74.0     610968.0
2829                   918.0    5501940.0
2734                   136.0      26435.0
3550                   131.0    6857096.0
2551                   634.0   37623143.0
4000                   827.0   20167424.0
2047                 23000.0    4710455.0
2830                   273.0    2086345.0
4267                    85.0    5383834.0
2914                   717.0    1110186.0
3423                     6.0     439162.0
3553                   585.0       8060.0
4461                   280.0    1647780.0
3456                   963.0    4443403.0
3344                  8000.0    4018695.0
4897                 16000.0    3500000.0
4144                   119.0    5595428.0
4284                    56.0    2283276.0
3677                   517.0    3629758.0
1171                  5000.0      84961.0
2863                   378.0   13753931.0
2605                   103.0  128067808.0
2493                  5000.0      84961.0

                                                 genres  ...        budget  \
4498                                            Western  ...  1.200000e+06
4747                             Action|Adventure|Drama  ...  2.000000e+06
4029                                        Crime|Drama  ...  3.300000e+06
2373                 Adventure|Animation|Family|Fantasy  ...  1.900000e+07
4921                                       Drama|Family  ...  1.800000e+05
4259                                     Drama|Thriller  ...  2.000000e+06
4659                                      Drama|Mystery  ...  5.000000e+05
2323                        Adventure|Animation|Fantasy  ...  2.400000e+09
2970                       Adventure|Drama|Thriller|War  ...  1.400000e+07
4105                             Drama|Mystery|Thriller  ...  3.000000e+06
1298                                     Comedy|Romance  ...  7.700000e+07
4033                                              Drama  ...  3.800000e+06
2829                        Biography|Drama|History|War  ...  1.350000e+07
2734                                       Drama|Sci-Fi  ...  6.000000e+06
3550                                  Drama|Mystery|War  ...  6.800000e+06
2551                                  Drama|Fantasy|War  ...  1.350000e+07
4000                             Drama|Mystery|Thriller  ...  2.000000e+06
2047                 Adventure|Animation|Family|Fantasy  ...  2.400000e+07
2830                            Biography|Drama|Romance  ...  1.000000e+07
4267                                     Drama|Thriller  ...  2.000000e+06
2914                                   Action|Drama|War  ...  1.280000e+07
3423                            Action|Animation|Sci-Fi  ...  1.100000e+09
3553                        Action|Crime|Drama|Thriller  ...  4.000000e+06
4461                                              Drama  ...  1.300000e+06
3456                      Animation|Biography|Drama|War  ...  7.300000e+06
3344                           Adventure|Drama|Thriller  ...  1.200000e+07
4897                               Action|Drama|Western  ...  2.000000e+05
4144                                              Drama  ...  2.900000e+06
4284  Animation|Biography|Documentary|Drama|History|War  ...  1.500000e+06
3677                                        Drama|Music  ...  5.500000e+06
1171                           Action|Adventure|History  ...  3.100000e+07
2863                                  Drama|History|War  ...  1.900000e+07
2605                               Action|Drama|Romance  ...  1.500000e+07
2493                           Action|Adventure|History  ...  3.100000e+07

     title_year  actor_2_facebook_likes  imdb_score aspect_ratio  \
4498     1966.0                    34.0         8.9         2.35
4747     1954.0                     8.0         8.7         1.37
4029     2002.0                    69.0         8.7         1.85
2373     2001.0                    10.0         8.6         1.85
4921     1997.0                    35.0         8.5         1.85
4259     2006.0                   284.0         8.5         2.35
4659     2011.0                   712.0         8.4         1.85
2323     1997.0                   851.0         8.4         1.85
2970     1981.0                    21.0         8.4         1.85
4105     2003.0                    78.0         8.4         2.35
1298     2001.0                   326.0         8.4         2.35
4033     2012.0                    69.0         8.3         2.35
2829     2004.0                   653.0         8.3         1.85
2734     1927.0                    23.0         8.3         1.33
3550     2010.0                    66.0         8.2         1.85
2551     2006.0                   269.0         8.2         1.85
4000     2009.0                    88.0         8.2         2.35
2047     2004.0                   713.0         8.2         1.85
2830     2004.0                   114.0         8.1         2.35
4267     2000.0                    79.0         8.1         1.85
2914     2004.0                   517.0         8.1         2.35
3423     1988.0                     5.0         8.1         1.85
3553     2007.0                    39.0         8.1         1.85
4461     1998.0                   278.0         8.1         1.33
3456     2007.0                   545.0         8.0         1.85
3344     2010.0                   327.0         8.0         2.35
4897     1964.0                   360.0         8.0         2.35
4144     1998.0                    14.0         8.0         2.35
4284     2008.0                     0.0         8.0         1.85
3677     2004.0                    86.0         7.9         2.35
1171     2002.0                   643.0         7.9         2.35
2863     2006.0                    85.0         7.9         2.35
2605     2000.0                    21.0         7.9         2.35
2493     2002.0                   643.0         7.9         2.35

      movie_facebook_likes        profit    genre_1  \
4498                 20000  4.900000e+06    Western
4747                 11000 -1.730939e+06     Action
4029                 28000  4.263397e+06      Crime
2373                 28000 -8.950114e+06  Adventure
4921                     0  7.454020e+05      Drama
4259                 39000  9.284657e+06      Drama
4659                 48000  6.598492e+06      Drama
2323                 11000 -2.397702e+09  Adventure
2970                 11000 -2.566866e+06  Adventure
4105                 43000 -8.187100e+05      Drama
1298                 39000 -4.379834e+07     Comedy
4033                 60000 -3.189032e+06      Drama
2829                 14000 -7.998060e+06  Biography
2734                 12000 -5.973565e+06      Drama
3550                 37000  5.709600e+04      Drama
2551                 27000  2.412314e+07      Drama
4000                 33000  1.816742e+07      Drama
2047                 13000 -1.928954e+07  Adventure
2830                     0 -7.913655e+06  Biography
4267                 11000  3.383834e+06      Drama
2914                     0 -1.168981e+07     Action
3423                     0 -1.099561e+09     Action
3553                 11000 -3.991940e+06     Action
4461                  5000  3.477800e+05      Drama
3456                 14000 -2.856597e+06  Animation
3344                 27000 -7.981305e+06  Adventure
4897                     0  3.300000e+06     Action
4144                     0  2.695428e+06      Drama
4284                     0  7.832760e+05  Animation
3677                     0 -1.870242e+06      Drama
1171                     0 -3.091504e+07     Action
2863                  5000 -5.246069e+06      Drama
2605                     0  1.130678e+08     Action
2493                     0 -3.091504e+07     Action

                                      genre_2 Rank
4498                                  Western    7
4747                          Adventure|Drama   16
4029                                    Drama   20
2373                 Animation|Family|Fantasy   27
4921                                   Family   38
4259                                 Thriller   42
4659                                  Mystery   49
2323                        Animation|Fantasy   53
2970                       Drama|Thriller|War   54
4105                         Mystery|Thriller   57
1298                                  Romance   60
4033                                    Drama   72
2829                        Drama|History|War   80
2734                                   Sci-Fi   81
3550                              Mystery|War   87
2551                              Fantasy|War   89
4000                         Mystery|Thriller   90
2047                 Animation|Family|Fantasy   96
2830                            Drama|Romance  112
4267                                 Thriller  113
2914                                Drama|War  118
3423                         Animation|Sci-Fi  122
3553                     Crime|Drama|Thriller  135
4461                                    Drama  150
3456                      Biography|Drama|War  158
3344                           Drama|Thriller  166
4897                            Drama|Western  173
4144                                    Drama  186
4284  Biography|Documentary|Drama|History|War  199
3677                                    Music  213
1171                        Adventure|History  216
2863                              History|War  218
2605                            Drama|Romance  235
2493                        Adventure|History  240

[34 rows x 32 columns]

##Checkpoint 3: Can you spot Veer-Zaara in the dataframe?"

In [100]:
if('veer zara is in  Top_Foreign_Lang_Film'):
  print('Veer Zara is among 250 IMdB top 250 movies')
else:
  print('not found')

Veer Zara is among 250 IMdB top 250 movies

##Subtask 3.5: Find the best directors.

1: Group the dataframe using the director_name column.

2: Find out the top 10 directors for whom the mean of imdb_score is the highest and store them in a new dataframe top10director.

In [101]:
import pandas as pd

# Load the dataset
file_path = "Movie+Assignment+Data.csv"  # Update with the correct file path
df = pd.read_csv(file_path)

# Remove rows with more than 5 NaN values
df_cleaned = df.dropna(thresh=len(df.columns) - 5)

# Remove duplicate rows
df_cleaned_deduplicated = df_cleaned.drop_duplicates()

# Find the top 10 directors with the highest mean IMDb score
top10director = (
    df_cleaned_deduplicated.groupby("director_name")["imdb_score"]
    .mean()
    .nlargest(10)
    .reset_index()
)

# Display the top 10 directors
print(top10director)

       director_name  imdb_score
0          Cary Bell       8.700
1   Sadyk Sher-Niyaz       8.700
2    Charles Chaplin       8.600
3    Damien Chazelle       8.500
4       Majid Majidi       8.500
5         Raja Menon       8.500
6         Ron Fricke       8.500
7       Sergio Leone       8.475
8          Tony Kaye       8.450
9  Christopher Nolan       8.425

Checkpoint 4: No surprises that Damien Chazelle (director of Whiplash and La La Land) is in this list.
Answer : Yes Damien Chazelle
is in list.

##Subtask 3.6: Find popular genres

You might have noticed the genres column in the dataframe with all the genres of the movies seperated by a pipe (|). Out of all the movie genres, the first two are most significant for any film.

1: Extract the first two genres from the genres column and store them in two new columns: genre_1 and genre_2. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the genre_2 will be the same as genre_1.

2: Group the dataframe using genre_1 as the primary column and genre_2 as the secondary column.

3: Find out the 5 most popular combo of genres by finding the mean of the gross values using the gross column and store them in a new dataframe named PopGenre.

In [102]:
movies_by_segment = []# Write your code for grouping the dataframe here"


# Extract the first two genres using str.split and expand=True
movies_by_segment = []# Write your code for grouping the dataframe here"


# Extract the first two genres using str.split and expand=True
#'|', n=1: This part splits the string based on the pipe symbol ('|') with a maximum of 1 split (to get the first two genres).
# expand=True: This creates separate columns for the split results.
movies_cleaned[['genre_1', 'genre_2']] = movies_cleaned['genres'].str.split('|', n=1, expand=True)

# Fill NaN values in genre_2 with genre_1 for movies with only one genre
# fillna(movies_cleaned['genre_1']): It fills any missing values (NaN) in the 'genre_2' column with the corresponding value from the 'genre_1' column.
# This ensures that movies with only one genre have that genre in both 'genre_1' and 'genre_2'.
movies_cleaned['genre_2'] = movies_cleaned['genre_2'].fillna(movies_cleaned['genre_1'])
print(movies_cleaned['genre_2']) # Changed 'genere_2' to 'genre_2'

0           Adventure|Fantasy|Sci-Fi
1                  Adventure|Fantasy
2                 Adventure|Thriller
3                           Thriller
5                   Adventure|Sci-Fi
                    ...
5026                   Music|Romance
5027                           Drama
5033                 Sci-Fi|Thriller
5035    Crime|Drama|Romance|Thriller
5042                     Documentary
Name: genre_2, Length: 3784, dtype: object

In [103]:
PopGenre = None # Write your code for getting the 5 most popular combo of genres here


# Group the dataframe by genre_1 and genre_2
movies_by_genre = movies_cleaned.groupby(['genre_1', 'genre_2'])

# Calculate the mean gross for each genre combination, sort, and get the top 5
PopGenre = movies_by_genre['gross'].mean().sort_values(ascending=False).head(5).reset_index()

# Rename columns for clarity
PopGenre.columns = ['genre_1', 'genre_2', 'mean_gross']
# Group the dataframe by genre_1 and genre_2
movies_by_genre = movies_cleaned.groupby(['genre_1', 'genre_2'])

# Calculate the mean gross for each genre combination, sort, and get the top 5
PopGenre = movies_by_genre['gross'].mean().sort_values(ascending=False).head(5).reset_index()

# Rename columns for clarity
PopGenre.columns = ['genre_1', 'genre_2', 'mean_gross']
print(PopGenre) # Changed 'PopGenere' to 'PopGenre'

     genre_1                                genre_2    mean_gross
0     Family                                 Sci-Fi  4.349495e+08
1  Adventure         Animation|Drama|Family|Musical  4.227838e+08
2  Adventure  Animation|Comedy|Drama|Family|Fantasy  3.564544e+08
3     Action   Biography|Drama|History|Thriller|War  3.501236e+08
4     Action               Adventure|Fantasy|Sci-Fi  2.966848e+08

"Checkpoint 5: Well, as it turns out. Family + Sci-Fi is the most popular combo of genres out there.

Answer : Yes Family+ Sci-Fi is the most popular combo of genres.

Subtask 3.7: Find the critic-favorite and audience-favorite actors

1: Create three new dataframes namely, Meryl_Streep, Leo_Caprio, and Brad_Pitt which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the actor_1_name column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.

2:Append the rows of all these dataframes and store them in a new dataframe named Combined.

3: Group the combined dataframe using the actor_1_name column.

4: Find the mean of the num_critic_for_reviews and num_user_for_review and identify the actors which have the highest mean.1:

In [104]:
[] # Write your code for creating three new dataframes here

Meryl_Streep = movies_cleaned[movies_cleaned['actor_1_name'] == 'Meryl Streep']
Leo_Caprio = movies_cleaned[movies_cleaned['actor_1_name'] == 'Leonardo DiCaprio']
Brad_Pitt = movies_cleaned[movies_cleaned['actor_1_name'] == 'Brad Pitt']

In [105]:
 # Include all movies in which Meryl_Streep is the lead"
 # Include all movies in which Meryl_Streep is the lead
Meryl_Streep = movies_cleaned[movies_cleaned['actor_1_name'] == 'Meryl Streep']
print(Meryl_Streep['movie_title'])  # Access the 'movie_title' column using bracket notation

410             It's Complicated
1106              The River Wild
1204               Julie & Julia
1408       The Devil Wears Prada
1483             Lions for Lambs
1575               Out of Africa
1618                Hope Springs
1674              One True Thing
1925                   The Hours
2781               The Iron Lady
3135    A Prairie Home Companion
Name: movie_title, dtype: object

In [106]:
# Include all movies in which Leo_Caprio is the lead
Leo_Caprio = movies_cleaned[movies_cleaned['actor_1_name'] == 'Leonardo DiCaprio']
print(Leo_Caprio ['movie_title'])  # Access the 'movie_title' column using bracket notation

26                       Titanic
50              The Great Gatsby
97                     Inception
179                 The Revenant
257                  The Aviator
296             Django Unchained
307                Blood Diamond
308      The Wolf of Wall Street
326            Gangs of New York
361                 The Departed
452               Shutter Island
641                 Body of Lies
911          Catch Me If You Can
990                    The Beach
1114          Revolutionary Road
1422    The Man in the Iron Mask
1453                    J. Edgar
1560      The Quick and the Dead
2067               Marvin's Room
2757              Romeo + Juliet
3476            The Great Gatsby
Name: movie_title, dtype: object

In [107]:
Brad_Pitt =[] # Include all movies in which Brad_Pitt is the lead
# Include all movies in which Brad_Pitt is the lead
Brad_Pitt = movies_cleaned[movies_cleaned['actor_1_name'] == 'Brad_Pitt ']
print(Brad_Pitt ['movie_title'])  # Access the 'movie_title' column using bracket notation

Series([], Name: movie_title, dtype: object)

In [108]:
# Write your code for creating three new dataframes here

Meryl_Streep = movies_cleaned[movies_cleaned['actor_1_name'] == 'Meryl Streep']
Leo_Caprio = movies_cleaned[movies_cleaned['actor_1_name'] == 'Leonardo DiCaprio']
Brad_Pitt = movies_cleaned[movies_cleaned['actor_1_name'] == 'Brad Pitt']
# Write your code for grouping the combined dataframe here
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt]) #Concatenate the three dataframes
actor_group = Combined.groupby('actor_1_name')  #Group by 'actor_1_name'
print(actor_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ebce0834490>

In [109]:
 # Write the code for finding the mean of critic reviews and audience reviews here

 # Write the code for finding the mean of critic reviews and audience reviews here
# Write your code for creating three new dataframes here

Meryl_Streep = movies_cleaned[movies_cleaned['actor_1_name'] == 'Meryl Streep']
Leo_Caprio = movies_cleaned[movies_cleaned['actor_1_name'] == 'Leonardo DiCaprio']
Brad_Pitt = movies_cleaned[movies_cleaned['actor_1_name'] == 'Brad Pitt']

# Write your code for grouping the combined dataframe here
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt]) #Concatenate the three dataframes
actor_group = Combined.groupby('actor_1_name')  #Group by 'actor_1_name'


# Calculate the mean of critic and audience reviews for each actor
critic_reviews_mean = actor_group['num_critic_for_reviews'].mean()
audience_reviews_mean = actor_group['num_user_for_reviews'].mean()

# Print the results
print("Mean Critic Reviews:")
print(critic_reviews_mean)
print("\nMean Audience Reviews:")
print(audience_reviews_mean)

Mean Critic Reviews:
actor_1_name
Brad Pitt            245.000000
Leonardo DiCaprio    330.190476
Meryl Streep         181.454545
Name: num_critic_for_reviews, dtype: float64

Mean Audience Reviews:
actor_1_name
Brad Pitt            742.352941
Leonardo DiCaprio    914.476190
Meryl Streep         297.181818
Name: num_user_for_reviews, dtype: float64

Checkpoint 6: Leonardo has aced both the lists

Yes, Leonardo has aced in both the lists.